<ul>
    <img src="/public/thanks2.jpg" id="thanks">
    <h2>These children and the signatories below thank you for your support for this important topic</h2>
{{#each sigList}}
<li>
    {{#if homepage}}<a href=http://{{homepage}} target="_blank">{{firstname}} {{lastname}}</a>
    {{else}} {{firstname}} {{lastname}}{{/if}}
    {{#if age}} ({{age}}) {{/if}}
    {{#if city}} <a href="/signatures/{{city}}" value="{{city}}"> {{city}} {{/if}}</a>
</li><br>
{{/each}}
</ul>
